@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
}

.card_contaiter {
    width: 35%;
    height: 100vh;
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.front_card {
    margin-left: 450px;
    position: relative;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}

.card_number {
    position: absolute;
    top: 140px;
    left: 48px;
    font-size: 31px;
    color: #fff;
}

.text_data {
    display: flex;
    color: #fff;
    position: absolute;
    bottom: 20px;
    padding-left: 50px;
    text-transform: uppercase;
}

.text_data .cvc {
    /* padding-right: 225px; */
    position: relative;
    margin-bottom: 10px;
}

.card_date {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #fff;
}

.back_card {
    position: relative;
    margin-left: 650px;
}

.full_name {
    margin-bottom: 10px;
}

.text_card_back {
    position: absolute;
    top: 109px;
    right: 64px;
}

.text_card_back p {
    font-size: 18px;
    color: #fff;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 450px;
}

.form_fullName {
    margin-bottom: 20px;
}

.form_input {
    display: flex;
    height: 40px;
    width: 300px;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    outline-color: rgb(15, 28, 206);
}

.form_label {
    display: flex;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.form_cardNumber {
    margin-bottom: 20px;
}

.card_text {
    display: flex;
}

.form_card_date {
    margin-bottom: 40px;
    gap: 20px;
}

.form_input_date {
    border-radius: 10px;
    padding: 0 10px;
    margin-right: 15px;
    height: 40px;
    width: 70px;
    outline-color: rgb(15, 28, 206);
}

.form_input_num {
    border-radius: 10px;
    padding: 0 10px;
    height: 40px;
    width: 118px;
    outline-color: rgb(15, 28, 206);
}

.form_label_date {
    display: flex;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.btn_form {
    padding: 15px 125px;
    border-radius: 10px;
    background: rgb(18, 9, 44);
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: .3s ease;
}

.btn_form:hover {
    background: rgb(42, 28, 83);
}

.complet {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 450px;
}

.img_text {
    padding-top: 40px;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.subtext {
    color: grey;
    padding-bottom: 50px;
}

.btn_form_s {
    padding: 15px 125px;
    border-radius: 10px;
    background: rgb(18, 9, 44);
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: .3s ease;
}

.btn_form_s:hover {
    background: rgb(42, 28, 83);
}